<header>
  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <nav>
          <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
          <a routerLink="/login" routerLinkActive="active">Log In</a>
          <a routerLink="/list" routerLinkActive="active">List</a>
        </nav>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-s-12">
       Footer
      </div>
    </div>
  </div>
</footer>
